.root {
  display: flex;
  align-items: center;
  width: 701px;
  height: 250px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 27px;
  background-color: #d9d9d9;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 5px;
  animation: fade-in 2s ease-in-out;

  @media (max-width: 750px) {
    width: 95%;
    height: 300px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
