@import 'scss/libs/normalize';

* {
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #bfbfbf;
}

.wrapper {
  width: 876px;
  height: 100%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  @media (max-width: 876px) {
    width: 100%;
  }
}

.edit-note-container {
  border-radius: 5px;
  width: 60%;
  @media (max-width: 500px) {
    width: 90%;
  }
}

.blue {
  background-color: #adf;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  @media (max-width: 876px) {
    margin: 0 2px;
    width: 40px;
    height: 40px;
  }
}

.yellow {
  background-color: #f8ff89cc;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  @media (max-width: 876px) {
    margin: 0 2px;
    width: 40px;
    height: 40px;
  }
}

.purple {
  background-color: #aad;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  @media (max-width: 876px) {
    margin: 0 2px;
    width: 40px;
    height: 40px;
  }
}

.white {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  @media (max-width: 876px) {
    margin: 0 2px;
    width: 40px;
    height: 40px;
  }
}

.dark {
  background-color: #000000d1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  @media (max-width: 876px) {
    margin: 0 2px;
    width: 40px;
    height: 40px;
  }
}

.orange {
  background-color: #ff8900d1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  @media (max-width: 876px) {
    margin: 0 2px;
    width: 40px;
    height: 40px;
  }
}

.content--post-main--opened {
  background-color: white;
}

.container {
  width: 876px;
  height: 100%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media (max-width: 876px) {
    width: 100%;
  }
}

.post-button-control {
  button {
    cursor: pointer;
    margin: 20px 20px;
    color: white;
    background-color: #5f5f5f;
    width: 241px;
    height: 52px;
    font-size: 21px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
  }
  .deleteButton {
    &:hover {
      background-color: rgba(255, 0, 0, 0.6);
    }
  }
  .completeButton {
    &:hover {
      background-color: rgba(0, 255, 0, 0.4);
    }
  }
}

.progress-value-complete {
  position: absolute;
  top: 0;
  left: 43.5px;
  animation: load 2s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 15px;
  background: rgba(0, 255, 0, 0.4);
  height: 100%;
  width: 844px;

  @media (max-width: 876px) {
    width: 100%;
  }
}

.progress-value-delete {
  position: absolute;
  top: 0;
  left: 0;
  animation: load 1s normal forwards;
  // box-shadow: 0 10px 40px -10px #fff;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 999;

  @media (max-width: 876px) {
    width: 100%;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 876px) {
  @keyframes load {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
